/* MemeWall.css */

.meme-wall-container {
  text-align: center;
  margin: 20px;
}

.meme-wall-container h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.meme-wall-container p {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 20px;
}

.memes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.meme-card {
  width: 20vw;
  margin: 20px;
  height: 55vh;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.meme-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.meme-footer {
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vote-button {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

.vote-button:hover {
  background-color: #45a049;
}

.upload-form {
  margin-top: 20px;
}

.upload-form h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.upload-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-form input[type="file"] {
  margin-bottom: 10px;
}

.upload-button {
  background-color: #ff6347;
  /* Coral color, you can adjust it */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #d84315;
}

/* MemeWall.css */

.vote-now-button {
  background-color: #ff6347;
  /* Coral color, you can adjust it */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.vote-now-button:hover {
  background-color: #d84315;
  /* Darker shade on hover, adjust it as needed */
}