/* Resources.css */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  padding: 1em;
}

.header h1 {
  text-align: center;
  color: #ff7c15;
}

.resources-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0;
}

.resources-input {
  width: 80%;
  padding: 20px;
}

.resources-search-btn {
  padding: 10px;
  background-color: #ed4672;
  color: #ffdac5;
  border: none;
  cursor: pointer;
  height: 50%;
  border-radius: 0 10px 10px 0;
}

.resources-search {
  padding: 1.5em;
  border-radius: 10px 0 0 10px;
  width: 100%;
}

.container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}

.btn-3 {
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
  padding: 20px;
  cursor: pointer;
  flex: 0 1 calc(30% - 40px);
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.btn-3:hover {
  background-color: #ddd;
}

.btn-3 h2 {
  margin: 0;
}

.btn-3 p {
  margin: 10px 0;
}

.link-2 {
  background-color: #ff7c15;
  text-align: center;
  padding: 8px;
  border-radius: 10px;
}

.link-2 a {
  color: #ffda65;
  text-decoration: none;
}

.wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.resources-title {
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .btn-3 {
    flex-basis: calc(50% - 40px);
  }
}

@media only screen and (max-width: 480px) {
  .btn-3 {
    flex-basis: calc(100% - 40px);
  }

  .resources-form {
    align-items: stretch;
  }

  .resources-search {
    height: auto;
  }

  .resources-input,
  .resources-search-btn {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  .container-2 {
    padding: 0;
  }
}