/* Resources.css */

.resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resource-img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.resource-img img {
    width: 100%;
    border-radius: 10px;
}

.resource-content {
    text-align: center;
    margin-top: 20px;
}

.resource-content h1 {
    font-size: 2em;
    color: #333;
}

.resource-content p {
    font-size: 1.1em;
    color: #555;
    margin-top: 10px;
}

.resource-btn {
    background-color: #fd862c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

.resource-btn:hover {
    background-color: #ff7c15;
}

@media only screen and (max-width: 768px) {
    .resources {
        margin: 10px;
        padding: 10px;
    }

    .resource-img {
        max-width: 100%;
    }
}